/* 導覽列 */
a.nav-link{
  color: rgb(255, 255, 255) !important; /* 預設為白色 */

}

a.nav-link:hover{
  color: rgb(70, 70, 70) !important; /* 鼠標懸停變成灰色 */
  background-color: transparent !important; /* 保持背景透明 */
}
.navbar-brand{
  margin-left: 20px; /* 調整左側邊距 */
  margin-top: 20px; /* 調整上邊距 */
}

.logo{
    width: 6%; /* 圖片寬度填滿父容器 */
    max-width: 600px; /* 限制圖片的最大寬度 */
    height: auto; /* 高度自動調整以保持比例 */
}



/* 下拉選單文字樣式 */
.dropdown-item a {
    color: black !important; /* 預設為黑色 */
    text-decoration: none; /*去除底線 */
  }
  
  .dropdown-item a:hover {
    color: gray !important; /* 鼠標懸停變成灰色 */
    background-color: transparent !important; /* 保持背景透明 */
  }
  
  /* 調整導覽列右側距離 */
  .navbar-nav {
    margin-right: 90px; /* 調整右側邊距 */
    margin-top: 40px;/* 調整上邊距 */
  }
  
  /* 調整下拉選單的位置避免裁切 */
  .dropdown-menu {
    
    max-width: 200px; /* 限制寬度，防止超出螢幕 */
    word-wrap: break-word; /* 遇到過長文字則換行 */
    
  }

  

  
/* 幻燈片 */

/* 資訊卡 */


